body,
p {
  margin: 0;
}

.main-container {
  display: flex;
  height: 100vh;
  align-items: center;
  background: #111;
}

.main-container .image-container {
  /* flex: 1; */
  height: 100%;
  position: fixed;
  width: 100%;
}

.main-container h1 {
  flex: 1;
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 10px;

  z-index: 100;
  text-shadow: 2px 16px 16px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.active-menu {
  display: flex !important;
}
/* 展示間資訊 */
.showroom-menu {
  position: fixed !important;
  z-index: 999;
  display: none;
  /* display: flex; */
  flex-direction: column;
  left: calc(100% - 40%);
  top: 50px;
  background: white;
  width: 490px;
  height: 750px;
  padding: 20px;
}

/* 會議室資訊 */
.meeting-menu {
  position: fixed !important;
  z-index: 999;
  display: none;
  flex-direction: column;
  left: calc(100% - 40%);
  top: 50px;
  background: white;
  width: 490px;
  height: 750px;
  padding: 20px;
}
@media screen and (max-width: 1200px) {
  .meeting-menu {
    left: calc(100% - 50%);
  }
  .showroom-menu {
    left: calc(100% - 50%);
  }
}
.more-img > img {
  height: 200px !important;
}

.info {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  color: white;
}
.info > .title {
  display: flex;
  justify-content: center;
  color: #ff0000;
  margin-top: 24px;
  margin-bottom: 12px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
.info > span {
  display: flex;
  justify-content: center;
  color: #2d318b;
  margin-bottom: 12px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-left: 36px;
  margin-right: 36px;
}
.info > p {
  margin-bottom: 50px;
  color: black;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-left: 36px;
  margin-right: 36px;
}
/* 按鈕 */
.close-btn {
  border: none;
  background: #2d318b;
  width: 417px;
  height: 40px !important;
  position: absolute;
  bottom: 20px;
  left: 56px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.close-btn > img {
  width: 284px;
  position: absolute;
  left: 0;
}
.close-btn > span {
  position: relative;
  color: white;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.active {
  display: flex !important;
}

/* 左上快速導覽 */
.guide-box {
  position: fixed;
  z-index: 999;
  width: 212px;
  height: 212px;
  top: 100px;
  left: 24px;
  display: none;
  flex-direction: column;
}

.guide-box > .logo {
  padding: 5px;
  background: rgba(255, 255, 255, 0.819);
}
.guide-box > button {
  padding: 10px;
  margin: 0;
  text-align: left;
  border: none;
  background: rgba(255, 255, 255, 0.819);
  cursor: pointer;
}
.guide-box > button:hover {
  background: #2d318b;
  color: white;
}

/* 快速導覽-會議室詳細 */
.meeting-room {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.meeting-room:hover + .meeting-info {
  display: flex;
}

.meeting-info {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 212px;
  height: 370px;
  left: 212px;
  top: 164.67px;
}
.meeting-info > button {
  background: rgba(255, 255, 255, 0.819);
  border: none;
  padding: 10px;
  cursor: pointer;
}
.meeting-info:hover {
  display: flex;
}
.meeting-info > button:hover {
  background: #2d318b;
  color: white;
}

/* 左上選單 */
.menu-box {
  display: flex;
  width: 251px;
  /* width: 125.5px; */

  height: 72px;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 998;
  background: #a5a5a5;
  user-select: none;
}
.menu-box > .menu-box__menu {
  position: relative;
  z-index: 999;
  color: white;
  width: 112px;
  height: 60px;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-top: 6px;
  margin-left: 6px;
  cursor: pointer;
  padding-right: 3px;
}
.menu-icon,
.map-icon {
  font-size: 45px;
}

/* 地圖 */
.menu-box > .menu-box__map {
  position: relative;
  z-index: 999;
  color: white;
  width: 112px;
  height: 60px;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-top: 6px;
  margin-left: 6px;
  cursor: pointer;
}
.map-box {
  position: fixed;
  display: none;
  z-index: 999;
  top: 100px;
  left: 24px;
  padding-right: 0px;
}
.map-box > img {
  width: 440px;
  height: 733px;
}

.map-point {
  display: none;
  width: 30px;
  height: 30px;
  z-index: 9999;
  background: #1100ff;
  top: 280px;
  left: 190px;
  position: relative;
  border-radius: 50%;
}
.map-point {
  opacity: 1;
  animation: point 1s linear reverse infinite;
}

@keyframes point {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}
