body,
p {
  margin: 0;
}

.main-container {
  display: flex;
  height: 100vh;
  align-items: center;
  background: #111;
}

.main-container .image-container {
  /* flex: 1; */
  height: 100%;
  position: fixed;
  width: 100%;
}

.main-container h1 {
  flex: 1;
  text-align: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 10px;

  z-index: 100;
  text-shadow: 2px 16px 16px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
/*控制會議室說明物件的出現和消失*/
.active-menu {
  display: flex !important;
}
/* 展示間資訊 */
.showroom-menu {
  position: fixed !important;
  z-index: 999;
  display: none;
  /* display: flex; */
  flex-direction: column;
  left: calc(100% - 40%);
  top: 50px;
  background: white;
  width: 30.625rem;
  height: 46.875rem;
  padding: 20px;
}
/* 會議室資訊 */
.meeting-menu {
  position: fixed !important;
  z-index: 999;
  display: none;
  flex-direction: column;
  left: calc(100% - 40%);
  top: 50px;
  background: white;
  width: 30.625rem;
  height: 46.875rem;
  padding: 20px;
}
.more-img > img {
  height: 12.5rem !important;
}
@media screen and (max-width: 1280px) {
  .meeting-menu {
    left: calc(100% - 50%);
    height: 42rem;
  }

  .more-img > img {
    height: 12rem !important;
  }
  
  .showroom-menu {
    left: calc(100% - 50%);
  }
}

.info {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  color: white;
}
.info > .title {
  display: flex;
  justify-content: center;
  color: #ff0000;
  margin-top: 24px;
  margin-bottom: 12px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
.info > span {
  display: flex;
  justify-content: center;
  color: #2d318b;
  margin-bottom: 12px;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}
.info > p {
  margin-bottom: 50px;
  color: black;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}
/* 按鈕 */
.close-btn {
  border: none;
  background: #2d318b;
  width: 26.0625rem;
  height: 2.5rem !important;
  position: absolute;
  bottom: 1.25rem;
  left: 3.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.close-btn > img {
  width: 17.75rem;
  position: absolute;
  left: 0;
}
.close-btn > span {
  position: relative;
  color: white;
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
/*控制左上menu的顯示*/
.active {
  display: flex !important;
}
/* 左上快速導覽 */
.guide-box {
  position: fixed;
  z-index: 999;
  width: 15rem;
  height: 297px;
  /*改距離為與mapbox同距*/
  top: 7.1rem;
  left: 1.6rem;
  display: none;
  flex-direction: column;
  overflow: hidden;
}
@keyframes boxMoveDown{
  from{
      height: 0;
  }
  to{
      height: 297px;
  }
}
.guide-box > .logo {
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.819);
}
.guide-box > button {
  padding: 0.8rem;
  text-align: left;
  border: none;
  background: rgba(255, 255, 255, 0.819);
  cursor: pointer;
  /*微調字的大小*/
  font-size: 16px;
  font-weight: 500;
}
.guide-box > button:hover {
  background: #2d318b;
  color: white;
}
/* 快速導覽-會議室詳細 */
.meeting-info {
  display: none;
  z-index: 999;
  flex-direction: column;
  position:fixed;
  width: 14rem;
  height: 420px;
  left: 270px;
  top: 270px;
  overflow: hidden;
}
/*新增會議室info下滑動畫*/
.InfoMoveDown{
  animation: InfoMoveDown 0.5s forwards;
}
@keyframes InfoMoveDown{
  from{
      height: 0;
  }
  to{
      height: 420px;
  }
}
.meeting-info > button {
  background: rgba(255, 255, 255, 0.819);
  border: none;
  padding: 12px;
  cursor: pointer;
  /*微調字的大小*/
  font-size: 13.5px;
}
.meeting-info > button:hover {
  background: #2d318b;
  color: white;
}
/* 左上選單 */
.menu-box {
  display: flex;
  align-items: center;
  justify-content:space-around;
  width: 251px;
  /* width: 125.5px; */
  height: 73px;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 998;
  user-select: none;
  /*新增漸層色+陰影+圓角*/
  background-image: linear-gradient(to top, #858585, #a5a5a5);
  box-shadow:0 0 10px #000000;
  border-radius: 6px;
  border:2px #b4b4b4 solid;
  padding: 0 4px;
}
/* 選單+地圖改為代碼共用 */
.menu-box__menu,.menu-box__map {
  position: relative;
  z-index: 999;
  color:#ddd;
  width: 110px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-right: 3px;
  /*新增漸層樣式*/
  background-image: linear-gradient(to top, #242424, #414141);
  border-radius: 6px;
  box-shadow:0 6px 10px #131313 inset;
  text-shadow: 0 0 10px #131313;
  transition: 0.3s;
}
/*新增滑鼠移入發光效果*/
.menu-box__menu:hover,.menu-box__map:hover{
  color:#fff;
  text-shadow: 0 0 10px #6e6e6e;
}
.menu-icon,
.map-icon {
  font-size: 33px;
}
.map-box {
  position: relative;
  display: none;
  z-index: 999;
  bottom: 2%;
  left: 24px;
  padding-right: 0px;
  height: 703px;
}
.map-box > .point {
  display: none;
  z-index: 9999;
  top: 90%;
  left: 40%;
  /* transform: translate(-50%, -50%); */
  transform: translate(-10%,-50%);
  position: absolute;
  display: flex;
  justify-content: center;
}
.map-box > .point > .map-point {
  width: 30px;
  height: 30px;
  background: #30ff00; 
  border-radius: 50%;
  opacity: 1;
  animation: point 1s linear reverse infinite;
}

.map-box > .point > .hint {
  white-space: nowrap;
  transform: translate(-60%, -100%);
  font-weight: bold;
  font-size: 24px;
  color:white;
  background:#26471f;
  border-radius: 5px;

}
@keyframes point {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}
